
%Trebushet {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}


%Trebushet400 {
  font-family: 'Trebuchet MS';
  font-weight: 400;
}


%Trebushet700 {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: 700;
}


%Exo2-0 {
  font-family: 'Exo2.0', Arial, sans-serif;
}


%Exo2-0-300 {
  font-family: 'Exo2.0', Arial, sans-serif;
  font-weight: 300;
}


%anim {
  transition: all 0.3s ease-in-out; 
}