$black: #000;
$white: #fff;
$white-1: #f2f2f2;
$blue: #1698D9;
$blue-hover: #2EA8E6;
$bg: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
$gray: #666666;
$pink-hover: #E62E7A;
$pink-selected: #D91667;
$yellow: #FFFF66;
$disable: rgba(179, 179, 179, 1);
$disable-text: rgba(179, 179, 179, 0.5);